.bg-teal{
    background-color:steelblue;
}
.navbar-nav.navbar-r20{
    position:absolute;
    left: 10%;
}

.navbar-nav .navbar-r50{
    position:absolute;
    left:50%;
}

.bg-ba{
    background-color:blanchedalmond;
}

.navbar.sheight{
    max-height: 50px
}

.card-img-top.pad-10{
    padding:10%
}

.btn.btn-pink{
    color: white;
    background-color:hotpink;
    border-color:hotpink;
}

.bg-mblue{
    background-color:midnightblue;
}

.bg-slateblue{
    background-color:slateblue;
}

.card.border-mblue{
    border-color: midnightblue;
}

.card-header.bg-mblue{
    background-color:midnightblue;
}

.social a {
    padding: 0 .5em;
    color: black;
}

.icon-color{
    color:white;
}

.btn.glyph-camera{
    background-color:hotpink;
    color:white;
}

.btn.glyph-user{
    background-color:midnightblue;
    color:white
}

.btn.glyph-label{
    background-color:cadetblue;
    color:white
}

.btn.glyph-bookmark{
    background-color:deeppink;
    color:white
}

.btn.glyph-fire{
    background-color:red;
    color:white
}

.w-70{
    width:70%
}

.form-control.pad-15{
    padding-top: 15px;
    padding-bottom: 15px
}

.btn.btn-pink{
    background-color:hotpink
}

.btn.bg-gb{
    background-color:gainsboro
}

.fs{
    font-size:medium
}

.form-control.fs{
    font-size: revert;
}

.btn.fs{
    font-size: revert;
}

.navbar-nav.nav-item.mar-1{
    margin-left:1em;
    margin-right:1em
}

.font{
    font-weight:bolder;
    font-family:serif;
    font-style:italic;
    font-size: x-large;
}

.badge.badge-mb{
    background-color:midnightblue;
    color:white
}

.pl{
    padding-left: 10%;
}
.text-recent{
    color:#0d2d50;
}

.pr-40{
    padding-right: 40%;
}